@media screen and (min-width: 768px) and (max-width: 992px){
    a{
        font-size: 18px;
    }
    h1{
        font-size: 25px;
    }
    
    h2{
        font-size: 25px; 
    }
    h4{
        font-size: 25px; 
    }
    p{
        font-size: 18px;
    }
    main{
        background-color: rgb(255, 255, 255);
    }
    footer{
        background-color: rgb(255, 255, 255);
    }
    nav {
        background-color: rgb(97, 97, 97);
    }
    nav a{
        color: white;
    }
    img{
        width: 100%;
    }
    #banner  h1{
        color: black;
        font-weight: bold;
    }
    #banner  p{
        color: black;
    }
    #text-main h2{
        color: black;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
    }
}

